* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Verdana", sans-serif;
  font-size: 100%;
  line-height: 1.4em;
  margin: 20px 40px;
}


/*  #container div (below) wraps one chart  */

#container {
  width: 60%;
  height: 500px;
}


/* links */

a {
  color: #0287b3;
}

a:hover {
  color: #3ecbfa;
}


/* put your media queries below */
