* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: 'Verdana', sans-serif;
  margin: 4rem;
}


/*  the #container div (below) holds one chart  */

#container {
  width: 60%;
  height: 500px;
}

p { line-height: 1.5rem; }

.subtitle {
  font-size: 1.7rem;
  font-style: italic;
}

/* link styles /18 */
a {
  color: #0287b3;
}

a:hover {
  color: #3ecbfa;
}

/* put media queries below - I used two; the ORDER matters! */
@media screen and (max-width: 1000px) {
    #container {
      width: 100%;
    }
}
@media screen and (max-width: 750px) {
    body {
      margin: 1rem;
    }
}
