* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #000;
  font-family: "Verdana", sans-serif;
  margin: 4em;
}


/*  #container div (below) wraps one chart  */

#container {
  width: 60%;
  height: 500px;
}

p { line-height: 1.5em; }

/* links */

a {
  color: #0287b3;
}

a:hover {
  color: #3ecbfa;
}


/* put your media queries below */
